extends ./layout/index

block information
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="/img/nosotros.jpg", alt="nosotros image", class="img-fluid")
            .col-md-7
                h1 #{page}
                blockquote condimentum efficitur est non suscipit. Vivamus eros libero, semper ut tincidunt in, condimentum tincidunt ex. Praesent non velit vitae felis fringilla sagittis placerat a velit. Proin elementum pharetra tellus vitae faucibus. Integer sagittis posuere magna non tincidunt. Donec diam odio, mattis id vestibulum quis, porttitor et felis. Donec suscipit luctus tortor ut semper. Pellentesque condimentum lacinia dignissim. Sed bibendum eleifend lorem ac imperdiet. Mauris eleifend ac urna porta malesuada.

                p Etiam elementum cursus velit non lobortis. Nulla a nunc vel ligula viverra sagittis id sed ante. Sed vel imperdiet tellus. Suspendisse potenti. In hac habitasse platea dictumst. Quisque eget sapien eleifend augue dapibus dictum. Morbi at diam egestas sapien commodo dictum vitae vitae est.

                p Integer iaculis dolor magna, ac rhoncus odio condimentum vel. In accumsan, arcu placerat condimentum posuere, eros risus ornare sem, sed luctus nulla diam vitae dolor. Donec ac velit tempor, bibendum ex quis, congue odio. Mauris fermentum, ex non pulvinar finibus, nisi massa semper dui, ut faucibus tellus metus ac justo.
        
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="security icon", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Mauris fermentum, ex non pulvinar finibus, nisi massa semper dui, ut faucibus tellus metus ac justo.
                    
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="destiny icon", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Mauris fermentum, ex non pulvinar finibus, nisi massa semper dui, ut faucibus tellus metus ac justo.
                    
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="prices icon", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Mauris fermentum, ex non pulvinar finibus, nisi massa semper dui, ut faucibus tellus metus ac justo.